h1{
    font-size: 60px;
}
.head-line-style {
    border-left: 5px solid ;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
}
#head-font_color{
    color: deeppink;
}
#second-head-font_color{
    color: red;
}
.flex-box {
    display: flex;
    padding: 2%;
}
.flex-box-two{
    display: flex;
    padding: 5%;
}
.flex-box-three{
    display: flex;
}

.flex-box-three-padding-right{
    background-color: deepskyblue;
    padding-right: 50px;
    margin-right: 200px;
}
.half-width{
    width: 50% ;
}
.first-img{
    height: 100%;
    width: 100%;
}
.second-img{
    height: 50%;
    width: 50%;
}
.section3-img{
    height:100%;
    width: 60%;
}
.link-button{
    font-weight: 700;
    text-decoration: none;
    background-image: linear-gradient(rgb(235, 75, 54), orange, rgb(255, 115, 0));
    padding: 10px 40px;
    border-radius: 10px;
}
.second-secton-area{
    width: 30%;
    margin: 5px;
    padding: 10px;
}
.second-secton-background1{
    background-color: rgb(145, 143, 248);
    border-radius: 10px;
}
.second-secton-background2{
    background-color: rgb(182, 243, 164);
    border-radius: 10px;
}
.second-secton-background3{
    background-color: rgb(240, 138, 226);
    border-radius: 10px;
}